/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
.gw-navbar{
    height: 65px;
    /*background-color: rgb(252, 223, 3);*/
    background-color: #080706;
    margin-bottom: 0px;
}
.icon-bar{
    color:white;
    background-color: white;
}
.gw-navbar a{
    color: white;
}
.gw-navbar-right{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
button{
    color: #d1b280;
}
.gw-main-banner{
    min-height: 590px !important;
    border: 1px solid;
    box-shadow: 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #efefef;
    /*background: #22c1c3;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-image: url("../imgs/taxi-bg.jpg");*/
}
body{
    background-color: #efefef;
}
.gw-banner-content{
    margin: 0px 0px;
    color: white;
}
.jumbotron{
    background-image: url("../imgs/taxi-bg-1.jpg");
    /*background-color: #efefef;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    float: right;
    text-align: right;
}
.right h3:nth-of-type(2){
    color: black;
}
.gw-navbar-right a:hover{
    text-decoration: underline !important;
    background-color: #080706 !important;
    transition: 0.2s;
    transition-delay: 0.1s;
}
.gw-booking label{
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 700;
    font-size: larger;
}
.col-sm-3 h3{
    text-align: center;
}
.col-sm-3 p{
    text-align: center;
}
.gw-container-2{
    margin-top: 20px;
    background-color: #594d46;
    color: white;
}
.gw-navbar-left{
    font-size: 20px;
    font-weight: 600;
}
.gw-banner-2{
    margin-top: 30px;
    background: url("https://www.balena.io/blog/content/images/2018/12/2018-01_GPS_tracking.jpg");
    background-size: contain;
}
#return-date{
    color: #080706;
}
footer{
    margin-top: 5px;
}
.gw-banner-2-content{
    text-align: center;
}
footer{
    background-color: #2f3131;
    color: #f9ba32;
    text-align: center;
}
footer a{
  color: #f9ba32;
}
footer a:hover{
  color: #f9ba32;
}
.viabtn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.gw-container-1 .col-sm-3 p{
  font-weight: 600;
}
.gw-container-1 .col-sm-3 h3{
  font-weight: 700;
}
/*For Card*/
/*.card {
  /* Add shadows to create the "card" effect */
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #594d46;
  color: #efefef;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}*/
/*Modal CSS*/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
  
    color: black;
  }
  
  .modal-body {
    padding: 2px 16px;
  }
  
  .modal-footer {
    padding: 2px 16px;
  
    color: black;
  }
  